window{
    background-image: -gtk-gradient (linear, left top, left bottom,
        color-stop(0.0, rgba(173, 200, 230, 1)),
        color-stop(0.30, rgba(173, 216, 230, 0.9)),
        color-stop(0.81, rgba(135, 206, 235, 0.9)),
        color-stop(1.00, rgba(135, 200, 235, 1))
    );
}

label#top_label{
    background-color: black;
    color: white;
}

label#next_label{
    color: black;
}

button:hover {
    color: black;
    background-color: lightblue;
    opacity: 0.95;
    text-decoration: underline;
    background-image: -gtk-gradient (linear, left top, left bottom,
        color-stop(0.0, rgba(173, 216, 230, 0.9)),
        color-stop(0.30, rgba(173, 216, 230, 0.8)),
        color-stop(0.81, rgba(135, 206, 235, 0.8)),
        color-stop(1.00, rgba(135, 206, 235, 0.9))
    );
    font: 20px Sans;
  
             
}

button:active{
     color: darkblue;
    background-color: green;
    opacity: 0.97;
    text-decoration: underline;
    background-image: -gtk-gradient (linear, left top, left bottom,
        color-stop(0.0, rgba(173, 216, 230, 0.8)),
        color-stop(0.30, rgba(173, 216, 230, 0.7)),
        color-stop(0.81, rgba(135, 206, 235, 0.7)),
        color-stop(1.00, rgba(135, 206, 235, 0.8))
    );
    font: 20px Sans;
  
             
}

button {
     color: white;
    background-color: red;
    opacity: 0.797;
    text-decoration: underline;
    background-image: -gtk-gradient (linear, left top, left bottom,
        color-stop(0.0, rgba(173, 216, 230, 0.8)),
        color-stop(0.30, rgba(173, 216, 230, 0.7)),
        color-stop(0.81, rgba(135, 206, 235, 0.7)),
        color-stop(1.00, rgba(135, 206, 235, 0.8))
    );
    font: 20px Sans;
  
             
}
